body {
  background: radial-gradient(circle, #000000, #111111);
  color: #00ffcc;
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 80px;
}

button {
  padding: 14px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: #00ffcc;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00cc99;
}

#question {
  margin: 30px;
  font-size: 22px;
}
